%h1 French Gaming

-@user.each do |u|
  %ul
    %li= u.username
    %li= u.email
    %li= u.password_digest
    %li= u.age
    %li= u.city
    %li= u.country
    %li= u.image
    %li= u.steam
    %li= u.facebook
    %li= u.twitter
    %li= u.youtube
    %li= u.created_at
    %li= u.updated_at