.nav-top
  .left-links
    %ul
      %li.links= link_to 'Accueil', root_path
      %li.links= link_to 'Actualités', root_path
      %li.links= link_to 'Equipe', root_path
      %li.links= link_to 'Forum', root_path
      %li.links= link_to 'Galerie', root_path
  .right-links
    %ul
      %li.links= link_to 'Login', login_path
      %li.links= link_to 'Sign up', signup_path
